/* google font */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Pacifico");


@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

:root {
  --slow-animation: 1200ms;
  --normal-animation: 500ms;
  --fast-animation: 350ms;

  --navbar-color: #0C71C3;
  --gray-title: #333;
  --light-blue: #0ba6c1;
  --lighter-blue: #74ecde;
  --dark-blue: #161d43;
}

/* Reset Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;

}

button {
  cursor: pointer;
}

/* Reset Margins and Padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;


}

/* Reset List Styles */
ul,
ol {
  list-style: none;
}

/* Reset Typography */
body {
  user-select: none;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-family: Open-Sans, sans-serif;
}

/* Reset Links */
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Reset Form Elements */
button,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Additional Reset Styles */
html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

/* Pages  */
.page {
  max-width: 1260px;
  margin: 0 auto;
  text-align: center;

}



h2 {
  font-family: "Prata", serif;
}


/* Testing global animation */
/* 
h2, h3, h5, p, img {
  animation: text-animation 850ms 250ms ease-in;
}

@keyframes text-animation {
  from {
    transform: scale(.98);
  }
  to {
    transform: scale(1);
  }
} */
